{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1>
			Map
		</h1>
		<div class="row">
			<div class="col-md-10">
				<div class="map">
					{% if map is empty %}
						<div class="alert alert-warning">
							You are still on the firm ground, you have to load fixtures first !
						</div>
					{% endif %}
					{% for y in 0..6 %}
						<div class="row">
							{% for x in 0..12 %}
								{% if map[x][y] is defined %}
									<div class="tile col-1 {{ map[x][y].type }}">
										<div class="tile-name">
											{{ map[x][y].name ?? ' '}}
										</div>
										<div class="tile-name coords">
											{{ map[x][y].coordX }}
											,
											{{ map[x][y].coordY }}
										</div>
										{% if boat.coordX == x and boat.coordY == y %}
											<img class="boat img-fluid" src="{{ asset('build/images/boat.png') }}" alt="boat"/>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-2">
				<div class="infos">
					<h2>
						Information
						<p>coordinates's boat :
						</p>
						<p>
							{{ boat.coordX }}
							,{{ boat.coordY }}
						</p>
						<p>
							tile's type</p>
						{% for key in map %}
							{% for tile in key %}
								{% if tile.coordX == boat.coordX and tile.coordY == boat.coordY %}
									{{tile.type}}
								{% endif %}
							{% endfor %}
						{% endfor %}

					</h2>
					{# Add here informations about current ship position #}
				</div>
				<div class="navigation">
					<h2>
						Navigation
					</h2>

					<a class="nav-item nav-link" href="boat/direction/N">N</a>
					<a class="nav-item nav-link" href="boat/direction/S">S</a>
					<a class="nav-item nav-link" href="boat/direction/E">E</a>
					<a class="nav-item nav-link" href="boat/direction/W">W</a>
					{# Add here N/S/E/W buttons #}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
