{% extends 'base.html.twig' %}

{% block body %}
	<div
		class="container-fluid">
		<h1>
			Map
		</h1>
		<div
			class="row">
			<div
				class="col-md-10">
				<div
					class="map">
					{% if map is empty %}
						<div
							class="alert alert-warning">
							You are still on the firm ground, you have to load fixtures first !
						</div>
					{% endif %}
					{% for y in 0..6 %}
						<div
							class="row">
							{% for x in 0..12 %}
								{% if map[x][y] is defined %}
									<a
										class="tile col-1 {{ map[x][y].type }}"
										href={{ path('moveBoat', {x: x, y: y}) }}>
										<div
											class="tile-name">
											{{ map[x][y].name ?? ' '}}
										</div>
										<div
											class="tile-name coords">
											{{ map[x][y].coordX }}
											,
											{{ map[x][y].coordY }}
										</div>
										{% if boat.coordX == x and boat.coordY == y %}
											<img
												class="boat img-fluid"
												src="{{ asset('build/images/boat.png') }}" alt="boat"/>
										{% endif %}
									</a>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div
				class="col-md-2">
				<div
					class="infos">
					<h2>
						Information
					</h2>
					{# Add here informations about current ship position #}
					<p>Coordinates:</p>
					<p>{{ boat.coordX }}; {{ boat.coordY }}</p>
					<p>Type of tile:</p>
					<p>{{ boatTile.type|capitalize }}</p>
				</div>
				<div
					class="navigation">
					<h2>
						Navigation
					</h2>
					{# Add here N/S/E/W buttons #}
					<div class="buttons">
						<a href="/boat/move/direction/N" class="N">N</button>
						<a href="/boat/move/direction/S" class="S">S</button>
						<a href="/boat/move/direction/E" class="E">E</button>
						<a href="/boat/move/direction/W" class="W">W</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
